@import './lib/normalize.scss';
@import './base/fonts.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;

  font-family: $font-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

button {
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  &:focus {
    outline: none;
  }
}
